.venv/
.vscode/
__pycache__/
*.py[cod]
*.so
*.dylib
*.o
*.obj
*.pyd
*.a
*.prof
*.svg
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
output
ref
testref
testhyp
testout
summedcost
speed.prof
profile.svg
